/* .frame_container {  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 8fr 20fr 8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top top top"
    "left scene right"
    "bottom bottom bottom";
}

.frame_top { grid-area: top; }

.frame_bottom { grid-area: bottom; }

.frame_left { grid-area: left; }

.frame_right { grid-area: right; }

.scene { grid-area: scene; } */
